<div class="presentation-card left-right justify-content-between align-items-center my-3 py-5" id='contact'>
  <div class="new-message-form-container p-3">
    <div class="d-flex justify-content-center align-items-center mb-2">
      <h1 class="new-message-form-container__title"><strong>ME CONTACTER</strong></h1>
      <div class='nav-line message-line'></div>
    </div>
    <%= simple_form_for @message, url: messages_path, remote: true do |f| %>
      <div class="form-inputs">
        <div class="form-row">
          <div class="col-5">
            <%= f.input :name, placeholder: 'Nom...', label: false, required: true %>
          </div>
          <div class="col-7">
            <%= f.input :email, placeholder: 'Email...', label: false, required: true  %>
          </div>
        </div>
        <%= f.input :subject, placeholder: 'Sujet du message...', label: false, required: true  %>
        <%= f.input :content, placeholder: 'Votre message...', label: false, input_html: { rows: 4 }, required: true %>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class='nav-line message-line-left'></div>
        <%= f.submit 'Envoyer le message', class: 'btn btn-tibo-primary' %>
      </div>
    <% end %>
  </div>
  <div class='presentation-card__image ml-5'><%= image_tag "chat.svg", alt: "chat", width: 300 %></div>
</div>

<!-- STYLE -->
<% first = ColorPalette.last.first_color %>
<% second = ColorPalette.last.second_color %>
<% fourth = ColorPalette.last.fourth_color %>
<% fifth = ColorPalette.last.fifth_color %>

<style>
  .btn-tibo-primary {
    color: <%= first %> !important;
    background: <%= fifth %> !important;
  }

  .btn-tibo-primary:hover {
    color: <%= fifth %> !important;
    background: <%= first %> !important;
  }

  .new-project-container__title,
  .log-in__title,
  .new-message-form-container__title {
    color: <%= first %> !important;
  }

  .new-project-form-container label {
    color: <%= second %>;
  }

  .form-check-label {
    color: <%= fourth %>;
  }
</style>

