<div class="banner-border">
  <div class="banner-tibo" style="background: url(<%= image_path "bg_nice.jpg", alt: "alttext", width: 1000; %>)">
    <h1 class="banner-tibo__main-title rellax animated delay-1s fadeIn" data-rellax-speed="-4">THIBAULT INGLEBERT</h1>
    <p class="banner-tibo__subtitle rellax animated delay-2s fadeIn" data-rellax-speed="-4">Graphiste</p>
  </div>
</div>
<%= render 'shared/presentation' %>
<%= render 'shared/projects' %>
<div class="mb-5"></div>
<%= render 'shared/new-message' %>
<div class="mb-5"></div>
<%= render 'shared/footer' %>

