<div id="menu-toggle"><i class="fas fa-bars"></i></div>
<%= render 'shared/navbar' %>
<div class="banner-border">
  <div class="banner-tibo" style="background: url(<%= image_path "bg_nice.jpg", alt: "alttext", width: 800; %>)">
    <h1 class="banner-tibo__main-title rellax animated delay-1s fadeIn" data-rellax-speed="-4">THIBAULT INGLEBERT</h1>
    <p class="banner-tibo__subtitle rellax animated delay-1s fadeIn" data-rellax-speed="-4">GRAPHISTE</p>
    <div class="banner-tibo__links d-flex justify-content-center rellax mt-5" data-rellax-speed="-4">
      <a href='#presentation' class="banner-tibo__links__presentation m-2 animated fadeInLeft delay-2s">PRÉSENTATION</a>
      <a href='#nav-tab' class="banner-tibo__links__projets m-2 animated fadeInLeft delay-2s">PROJETS</a>
      <a href='#contact' class="banner-tibo__links__contact m-2 animated fadeInLeft delay-2s">CONTACT</a>
    </div>
  </div>
</div>
<%= render 'shared/presentation' %>
<%= render 'shared/projects' %>
<div class="mb-5"></div>
<%= render 'shared/new-message' %>
<div class="mb-5"></div>
<%= render 'shared/footer' %>

