<div class="new-project-container my-3 col-md-6 col-sm-12">
  <div class="new-project-form-container text-center">
    <div class="d-flex justify-content-center align-items-center mb-2">
      <div class='nav-line message-line-left'></div>
      <h1 class='new-project-container__title text-center'>AJOUTER UN PROJET</h1>
      <div class='nav-line message-line'></div>
    </div>
    <%= simple_form_for @project do |f| %>
    <div class="form-inputs text-justify">
      <%= f.input :description, placeholder: 'Description du projet' %>
      <%= f.input :category, label: 'Catégorie', collection: [
          'Événementiel',
          'Univers graphique',
          'Motion Design',
          'Édition',
          'Numérique'
        ] %>
      <%= f.input :client, placeholder: 'Nom du client, de la marque' %>
      <%= f.input :date, as: :string, label: 'Date de création', input_html: { class: "datepicker" } %>
      <%= f.input :priority, collection: (1..20).to_a, label: 'Priorité' %>
    </div>
      <%= f.input :photos, as: :file,
                  required: true,
                  input_html: { multiple: true, autocomplete: "Vos photos", class: 'd-none', id: 'browse' },
                  label_html: { class: 'btn-tibo-primary'},
                  label: '📷 Ajouter des photos' %>
      <!-- <input id="browse" type="file" onchange="previewFiles()" multiple> -->
      <div id="preview" class='mb-2'></div>

    <div class="d-flex justify-content-center align-items-center mb-2">
      <div class='nav-line message-line-left'></div>
      <%= f.submit 'Valider', class: 'btn-tibo-primary' %>
      <div class='nav-line message-line'></div>
    </div>
    <% end %>
  </div>
</div>

